#dropdown
  %ul
    %li.inline
      %h2
        %a{:href => '/admin/map'}
          Page Map
    %li.inline
      %h2
        %a{:href => '/admin/menu'}
          New Menu
    %li.inline
      %h2
        %a{:href => '/admin/entry'}
          New Entry
    %li.inline
      %h2
        %a{:href => '/admin/gallery'}
          Gallery Map
    %li.inline
      %h2
        %a{:href => '/admin/collection'}
          New Collection
    %li.inline
      %h2
        %a{:href => '/admin/photo'}
          New Photo
