#dropdown
  %ul
    %li.inline
      %h2
        %a{:href => '/admin/map'}
          Map
    %li.inline
      %h2
        %a{:href => '/admin/menu'}
          New Menu
    %li.inline
      %h2
        %a{:href => '/admin/entry'}
          New Entry
