#left
  %strong Foundation "Lutreola"
  %br
  Tallinn Zoo
  %br
  Paldiski mnt. 145
  %br
  13522 Tallinn
  %br
  Estonia
#right
  &nbsp;
  %br
  Tel: +372 6 943318
  %br
  Fax: +372 6 578990
  %br
  email: lutreola@lutreola@ee
