%title Euroopa naarits - European Mink
%link{:type => "text/css", :rel => "stylesheet", :href => "/css/reset.css"}
%link{:type => "text/css", :rel => "stylesheet", :href => "/css/blueprint/screen.css"}
%link{:type => "text/css", :rel => "stylesheet", :href => "/css/lutreola.css"}
%link{:type => "text/css", :rel => "stylesheet", :href => "/css/jqModal.css"}
%script{:type => "text/javascript", :src => "/javascript/jquery-1.4.2.js"}
%script{:type => "text/javascript", :src => "/javascript/jqModal.js"}
%script{:type => "text/javascript", :src => "/javascript/lutreola.js"}
%meta{:name => "keywoards", :content => "european mink, euroopa naarits, mustela lutreola, tallinna loomaaed"}
%meta{:name => "author", :content => "Tiit Maran, Bob Shelton"}
