%title Euroopa naarits - European Mink
%link{:type => "text/css", :rel => "stylesheet", :href => "/css/reset.css"}
%link{:type => "text/css", :rel => "stylesheet", :href => "/css/blueprint/screen.css"}
/[if IE]
  %link{:rel => "stylesheet", :href => "/css/blueprint/ie.css", :type => "text/css", :media => "screen, projection"}
%link{:type => "text/css", :rel => "stylesheet", :href => "/css/ui-lightness/jquery-ui-1.8.21.custom.css"}
%link{:type => "text/css", :rel => "stylesheet", :href => "/css/jquery.fileupload-ui.css"}
%link{:href => "/css/jquery.image-gallery.css", :rel => "stylesheet", :type => "text/css"}
%link{:type => "text/css", :rel => "stylesheet", :href => "/lutreola.css"}
%script{:type => "text/javascript", :src => "/javascript/jquery-1.7.2.min.js"}
%script{:type => "text/javascript", :src => "/javascript/jquery-ui-1.8.21.custom.min.js"}
%script{:type => "text/javascript", :src => "/javascript/load-image.min.js"}
%script{:type => "text/javascript", :src => "/javascript/jquery.image-gallery.min.js"}
%script{:type => "text/javascript", :src => "/javascript/lutreola.js"}
%meta{:name => "keywoards", :content => "european mink, euroopa naarits, mustela lutreola, tallinna loomaaed"}
%meta{:name => "author", :content => "Tiit Maran, Bob Shelton"}
