body {
  background-color: #ccffff;
  color: #333333;
  font-family: Verdana;
  font-size: 14px;
  line-height: 18px; }

#main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px; }

#header {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px; }
  #header img {
    padding: 5px;
    background-color: white;
    width: 50px;
  }
  #header #pagetitle {
    float: left; }
  #header #mainmenu {
    padding: 10px;
    font-size: smaller;
    background-color: white;
    float: right; }

#sidebar {
  background-color: #99ffff;
  font-size: smaller;
  margin-right: 10px;
  padding: 10px 20px 10px 20px; }
  #sidebar ul {
    margin: 0;
    padding: 0; }
    #sidebar ul ul {
      margin-left: 20px; }
  #sidebar li.block {
    display: block; }
  #sidebar li.none {
    display: none; }
  #sidebar a {
    color: #0099cc; }

#topicbar {
  background-color: #99ffff;
  font-size: smaller;
  margin-left: 0;
  padding: 10px 20px 10px 20px;
  overflow: scroll;
  height: 400px; }
  #topicbar input {
    font-size: 80%; }
  #topicbar a {
    font-size: smaller; }

#hlavni {
  background-color: #99ffff;
  padding: 10px 20px 10px 20px; }
  #hlavni .entryhead {
    font-size: 70%;
    font-weight: bold; }
    #hlavni .entryhead .timestamp {
      float: left; }
      #hlavni .entryhead .timestamp a {
        font-size: 80%;
        font-style: italic; }
    #hlavni .entryhead .subject {
      float: right; }
  #hlavni .entrybody {
    margin-top: 10px; }
    #hlavni .entrybody a {
      font-size: 70%;
      font-weight: bold; }
  #hlavni .entrynav {
    font-size: 70%;
    font-weight: bold; }
    #hlavni .entrynav .previous {
      float: left; }
    #hlavni .entrynav .next {
      float: right; }
  #hlavni #recenthead {
    font-size: 70%; }
    #hlavni #recenthead #pages {
      width: 70%;
      float: left; }
      #hlavni #recenthead #pages ul li {
        display: inline;
        padding: 0px 10px 0px 0px; }
        #hlavni #recenthead #pages ul li a {
          font-weight: bold; }
    #hlavni #recenthead #page {
      float: right;
      font-weight: bold; }

.entrycontrols {
  float: right;
  font-size: 60%;
  padding: 3px;
  margin-bottom: 5px;
  background-color: white; }

.clear {
  clear: both; }

a {
  color: #0099cc;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

pre {
  font-size: 80%; }

hr {
  margin: 0; }

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

#flash {
  font-weight: bold;
  font-size: smaller;
  color: #b00;
  padding-bottom: 20px;
}

#username {
  font-weight: bold;
  font-size: smaller;
  color: #55bbbb;
}
